
.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
     /*de ce nu s aplica gap fara cele de dinainte?*/
  gap: 32px;
  padding-bottom: 36px;
  padding-top: 0px;
  padding-left: 16px;
  padding-right: 16px;
}

h1{
  margin: 0px;
}

.image{
  display: flex;
  max-width: 610px;
  widht: vw;
  height: vh;
  justify-content: center;
  align-items: center;
}

.buttons button {
  width: 100%; /* Adjusted button width for smaller screens */
}

/* Media queries for responsiveness */
@media(max-width: 610px) {
  .content {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;/* Adjusted padding for smaller screens */
  }
  h1{
    text-align: center;
  }
  .buttons {
    align-items: center;
    width: 90%; 
    /* Reset button width to auto for smaller screens */
  }
}