.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*de ce nu s aplica gap fara cele de dinainte?*/
  gap: 10%;
  padding-left: 200px;
  padding-right: 200px;
  flex-shrink: 0;
}

h1 {
  margin: 0px;
}

.image {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 503px;
  widht: vw;
  height: vh;
  justify-content: left;
  align-items: center;


}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
  text-align: center;
}



@media(max-width: 1125px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* Adjusted padding for smaller screens */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  h1 {
    text-align: center;
  }

  .buttons {
    align-items: center;
    width: 90%;
    /* Reset button width to auto for smaller screens */
  }
  
  .input-button {
    max-width: 510px;
    width: 100%;
  }

  input {
    width: 100%;
  }
  
}